# See https://atom.io/docs/latest/hacking-atom-package-word-count#menus for more details
'context-menu':
  'atom-text-editor': [
    {
      'label': 'Emergency Tweet!'
      'command': 'pratl:emergency'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pratl'
      'submenu': [
        {
          'label': 'Emergency Tweet!'
          'command': 'pratl:emergency'
        }
      ]
    ]
  }
]
